:root {
  --color-primary: #4CAF50;
  --color-secondary: #FFC107;
  --color-accent: #FF5722;
  --color-bg: #f7f8fa;
  --color-bg-secondary: #fff;
  --color-text: #222;
  --color-text-secondary: #757575;
  --sidebar-bg: var(--color-primary);
  --footer-color: #aaa;
  --input-bg: #fff;
  --input-border: var(--color-secondary);
}

[data-theme="dark"] {
  --color-primary: #4CAF50;
  --color-secondary: #FFC107;
  --color-accent: #FF5722;
  --color-bg: #212325;
  --color-bg-secondary: #23272a;
  --color-text: #f3f2f1;
  --color-text-secondary: #b7b1a4;
  --sidebar-bg: #26392d;
  --footer-color: #666;
  --input-bg: #23272a;
  --input-border: var(--color-secondary);
}

html, body {
  background: var(--color-bg);
  color: var(--color-text);
  transition: background 0.25s, color 0.25s;
}

a {
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}
